   * {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x:  hidden;
    }
     /*header las pages*/
       header { 
        height: 200px;
        padding: 10px;
        overflow: hidden;
        text-align: center;
        background-color:#bd9052;
       
        header img{ 
          height: 200px;
         }
       }
       body{
        font-family: cursive;;
        background-color:rgba(236, 213, 173, 0.218);
        width: 100%;
        min-height: auto;
        margin: 0;
        padding: 0;
        max-width: 0 auto;
      }

      footer{
        overflow: hidden;
        padding: 20px 0;
        height: 140px; ;
        width:100%;
        background-color: #bd9052;
        text-align:center;
        color:#3b380f;
        font-size: 17px;
      
        .redes{
          color: #3b380f;
          font-size: 25px;
          padding: 3px 0 6px 0;
          text-decoration: none;
         }
         .redes a:hover{
           transform: scale(1.2); 
          }
         a{
           text-decoration: none;
           color: #3b380f; 
         } 

      }