          @import'generales';
          @import'variables';

   
  
         /*estilos del buscador */
            .d-flex button {
            width: 100px;
            background-color:$primario;
            
           }  
           .d-flex button:hover{
            width: 100px;
            background-color: $tranparencia;
           }  
          /* estilos buscador*/
      
          /* estilos carrito*/

         .icono_contador_carrito {
            display: flex;
            flex-direction: row-reverse; 
            margin-right: 8px;
    
           .icon-cart{
           width:40px;
           height:40px;
           stroke: $secundario
         }
        
            .count-productos{
              position: absolute;
              top: 279px;
              right: 0;
              background-color:#2c2b1f ;
              color: #9a7153;
              width: 20px;
              height: 20px;
            
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50px;
            }

            .container-cart-products-hidden-cart {
              position: absolute;
              top: calc(45% + 10px); 
              right: 0; 
              background-color: #fff;
              border: 1px solid #ccc;
              padding: 10px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              z-index: 10;
              display: none;
            }
            .icon-cart:hover.container-cart-products-hidden-cart {
              display: block; 
            }
            .cart-producto{
              display: flex;
              .info-cart-producto{
                display: flex;
                padding: 10px;
 
                  .icon-closse{
                   width: 25px;
                   height: 25px;
                   position:absolute;
                   top:0;
                   margin-left: 45px;
                   background-color:$tranparencia;
                  }
               }
             }
             
          }
           /*fin  estilos carrito*/
         
          
          .informacion h1{
            padding: 30px 0 50px 0;
            display:flex ;
            justify-content: center;
            text-align: center;
            font-size: 200%;
          }
          h2 {
            padding: 30px;
            color: $secundario;
            text-align: center;
          }
          .destacados h3{
            text-align: center;
            color:  $secundario;
            padding: 40px;
            margin: 0 auto;
           }
        /* parrafo index*/
        .informacion p{
          padding: 30px;
          color: $secundario;
          background-color: #d59f5c52;
          margin: 20px; 
          text-align: justify;
          font-size: 20px;
    
        }
          /* aqui inicianlas cards*/
          #contenedor-cards{
            height: auto;
            display: flex;
            flex-wrap: wrap;
            width: auto;
            background-color: #2c2b1f;
          .card{
            width: 400px;
            height: 600px; 
            border-radius:  20px;
            margin-bottom: 15px; 
            box-shadow: 0 4px 8px#3b380f(0, 0, 0, 0.1);
            display: flex;
            margin: auto;

               .card__img1 {
                 height: 450px;
                 width: 100%;
                 background-position: center;
                 background-repeat: no-repeat;
            }
            .card__img2{
              height: 450px;
              width: 100%;
              background-color:#bd9052;
              background-position: center;
              background-repeat: no-repeat;
            }
            }
            .card__img3{
              height:450px;
              width: 100%;
              background-color:#bd9052;
              background-position: center;
              background-repeat: no-repeat;
            }
           
            img{
              height:450px;
              width: auto;
              object-fit: cover;
            }
        
          .card__content{
          padding: 5px; 
          overflow: hidden;
          height: auto;
          background-color: #efeeed; 
          max-width: 100%;
          margin: 0 auto;
         
          h3 .card__titulo{
            font-size: xx-small;
            margin-top: 0; 
            color:#3b380f;
            text-align: center;
          }
          .card__arti { 
            color: #bd9052; 
            padding: 12px;
            text-align: justify; 
          }
        }
     
          /* estilos button modal*/
    
          
         
           button .btn-primary {
            padding:8px;
            background: none;
            border: 2px solid  #3b380fb4 ;
            border-radius: 10px ;
            color: #fff; 
            background-color: #bd9052; 
            border-color: #3b380fb4; 
            &:hover {
              padding:8px;
              border: 2px solid  #3b380fb4 ;
              border-radius: 10px ;
              color: #fff; 
              background-color :#3b380fb4 ; 
              border-color:  #bd9052; 
            }
          }
        
            button.btn-secondary {
            padding:8px;
            background: none;
            border: 2px solid  #3b380fb4 ;
            border-radius: 10px ;
            color: #fff; 
            background-color: #bd9052; 
            border-color: #3b380fb4; 
            &:hover {
              padding:8px;
              border: 2px solid  #3b380fb4 ;
              border-radius: 10px ;
              color: #fff; 
              background-color:  #3b380fb4; 
              border-color:#bd9052; 
            }   
          }   
          }                                                 
             /* fin modal*/
      
      
        
        @media(min-width:320px){
          .card__content{
            width: 280px;
            margin: auto;
          }
          }
        
      
    
   /* estilos carousel*/
    .container-carousel {
      width: 100%;
      max-height:auto;

        #carouselExample {
          width:300px ;
          margin: 0 auto;
          padding: 5px;
          overflow: hidden;
          .contenido-modal{
            img {
              max-width: 250px;
              margin: 0 auto;
              padding: 10px;
              height: 400px;
           }
             h6{
              color: #191809;
              font-size: 10px;
              font-family:"Courier Prime", monospace;
             }
            p{
             color: #191809;
             font-size: 10px;
             font-family: "Courier Prime", monospace;
           }
          }
          }
              
          .carousel-control-prev-icon{
             background-color:$tranparencia;
           }
           .carousel-control-next-icon{
             background-color: $tranparencia;
          }
         }

      /* fin carousel*
  
    /*estilo envios*/
        .titilo-envios h1{ 
           padding: 50px 0 5px 0;
           font-family: "Courier Prime", monospace;
           font-size: 50px;
           }
       .contenedor-form{ 
        max-height: auto;
        overflow: auto;
        width:100%;
        height: auto;
        padding: 10px 0 80px 0;
        align-items: center;
       
      .form-envios{ 
        align-content: center;
        display: block;
        width: 550px;
        height:700px ;
        padding: 10px;
        border: 10px;
        margin: 0  auto;
        margin-top: 100px;
        border-radius: 15px;
        font-family: "Courier Prime", monospace;
        color:  #825d42;
      
       }
       h4{
        margin-bottom: 30px;
        font-size: 20px;
        color: #2c2b1f;
        text-align: center;
       }
       .control {
        width: 90%;
        background: #d4d2bc61;
        padding: 7px;
        border-radius: 5px;
        margin-bottom: 18px;
        border: 2px solid #c89c7d7a;
        font-family:cursive;
        font-size: 22px;
        margin-left: 30px;
      }
        .form-envios p{
        height: 50px;
        text-align: center;
        font-size: 12px;
        font-family: "Courier Prime", monospace;
          .data span{
          font-size: 20px;
          margin: 20px 0 30px 0;
          color: $secundario;
          margin: 10px 0 40px 0;
          }
            .data a{
            font-size: 20px;
            color: #9a7153;
            text-decoration: none;
            .form-envios a:hover {
              color: $secundario;
              text-decoration: none;
              text-decoration: underline;
             }
           }
        }
         .form-envios .botton{
            display: block;
            color:#c89c7d;
            background-color:  #3b380f7a;
            min-width: 30%;
            border: none;
            padding: 10px;
            margin: 10px o 10px 0;
            margin-left: 28%;
            border-radius: 3px;
            &:hover{
              transform: scale(1.1); 
           }
            }
        
       }
         /*fin estilos  envios*/
  
   
     /*estilos nosotros */

    .nosotros-title{
      padding: 10px;
      display:flex ;
      justify-content: center;
      text-align: center;
      font-size: 200%;
      .Nosotros-title p{
        padding: 30px;
        color: $secundario;
        background-color: #d59f5c52;
        margin: 20px; 
        text-align: justify;
        font-size: 20px;
       }
     }
     .nosotrosubivideo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px;
       .nosotrosubivideo div {
        margin-bottom: 20px;
        color: $secundario;
        h5 {
          color: #3b380f;
          margin-bottom: 10px;
        }
        
        iframe {
          width: 200%;
          max-width: 100%;
          height: 200px;
          border: 2px solid $primario; 
          border-radius: 8px;
        }
      }
    }
   
    /* fin estilos nosotrso*/
    
    
     /*inicio estilos catalogo productos*/
     .sub-velas{ 
      text-align: center;
      padding: 30px 0 40px 0;
     }
        
    .title{
      display: flex;
      justify-content:space-evenly;
      color:  $secundario;
      padding: 30px 0 40px 0;
    }
    .contenedor-catalogo{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 60px 0 40px 50px;
      gap: 10px;
      max-width: auto;
      padding: 60px 0 60px 0;
      border-radius: 6px;
      .conteiner-items{
        display: grid;
        border-radius: 10px;
        width: 275px;
         .item img{
           width: 250px;
           height:250px;
           object-fit: cover;
           border-top: 5px;
           border-radius: 15px;
           transition: all .5s;
           .item img:hover{
            transform: scale(1.0,5);
            }
         }
         .infor{
          padding: 15px 20px;
          line-height: 2;
          display: flex;
          flex-direction: column;
          gap: 8px;
          .precio{
            font-size: 18px;
            font-weight: 900;
          }      
        .infor button{
          border: none;
          background: none;
          background-color:  $tranparencia;
          color:$secundario;
          padding: 5px;
          transition:all 0.3s;
            .infor button:hover{
              transform: scale(1.0,5);
             }
           }
         }
       }
      .conteiner-items:hover{
       box-shadow:0 10px 280px rgb(0, 0, 10);
      }
    }  
    /*fin estilos catalogos productos*/
  
      @media  only screen and (max-width: 1000px) {
        .contenedor-catalogo{ 
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            width: auto;
            margin: auto;
            max-width: 900px;
            margin-bottom: 10px;
        }
        .conteiner-items{
          width: auto;
          margin: auto;
        }
        body{
          height: auto;
        }
    
    }
         
      @media  only screen and (max-width: 850px) {
        .contenedor-catalogo{ 
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            width: auto;
            margin: auto;
            margin-bottom: 40px;
            max-width: 700px;
            max-height: auto;
        }
        .conteiner-items{
          width: auto;
          margin: auto;
        }
    }
     
      @media  screen and (max-width: 700px) {
        .contenedor-catalogo{
            
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(2, 1fr);
              margin: auto;
              margin-bottom: 40px;
              width: 95;
              max-width: 600px;
              max-height: auto;
          }
          .conteiner-items{
            width: auto;
            margin: auto;
          }
          body{
            height: auto;
          }
      }
     
        @media  only screen and (max-width: 468px) {
          .contenedor-catalogo{ 
              grid-template-columns: repeat(1, 1fr);
              grid-template-rows: repeat(4, 1fr);
              width: auto;
              margin: auto;
              margin-bottom: 40px;
              max-width: auto;
              max-height: auto;
          }
          .conteiner-items{
            width: auto;
            margin: auto;
          }
      }
  

     