/*
codigo de la barra de navegacion
*/
* {
margin: 0; 
padding: 0;
box-sizing: border-box;
max-width: 100%;
overflow-x:  hidden;
}

header { 
 
 height: 550px;
 padding: 15px;
 overflow: hidden;
 background-size: 100% 97%;
 background-image: url(../img.html/advent-estrella.jpeg);
}


h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color:#3b380f ;
} 


a{
  text-decoration: none;
  color: #3b380f; 
}  
 /*codigo del titulo principal */  
span {
   
  color:#3b380f ;
  padding:  30px;
  display: inline-block;
  background-size: cover;
  height: 100%;
}


.inicio{
width: 30%;
color: #3b380f;
padding: 15px;

}  


 /*codigo articulo del inicio */ 


    /*codigo del subtitulo */  
    h2 {
      padding: 20px;
      color:#3b380f;
      text-align: center;
    
    }

    .logo p{
      padding: 20px;
      color:#3b380f;
      background-color: #d59f5c9c ;
      margin: 20px; 
      border-radius: 10px solid;
      border: #4C4920; 
    }

    .destacados{
     width: 100%;
     height: auto;
     background-color: #c89c7d;
     display: grid;
     grid-template-columns: repeat(4 1fr);
     grid-template-rows: repeat(3 1fr) ;
     grid-template-areas: 
     "img1 img2 img3 img3"
     "img1 img4 img5 img6"
     "img4 img7 img6 img8";
    }
    .item{
      border-radius: 6px solid #3b380f;
    }
    .item1{
      grid-area: img1;
    }
    .item2{
      grid-area: img2;
    }
    .item3{
      grid-area: img3;
    }
    .item4{
      grid-area: img4;
    }
    .item5{
      grid-area: img5;
    }
    .item6{
      grid-area: img6;
    }
    .item7{
      grid-area: img7;
    }
    .item8{
      grid-area: img8;
    }

  /*codigo del subtitulo */  
  .card{
    width: 280px; 
    border: 6px solid #bd9052 ; 
    border-radius:  5px;
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px#3b380f(0, 0, 0, 0.1);
    display: inline-block;
    margin: 5px;
    margin-left: 9%;
}
.card__content{

  height:270px; 
  background-color: #efeeed; 
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  max-width: 100%;
  overflow-x:  hidden;

}

.card__img1{
  height:180px;
  width: 100%;
  background-color:#bd9052  ;
  background-image: url(../img.html/kit-velas.jpeg);

}
.card__img2{
  height:180px;
  width: 100%;
  background-color:#bd9052  ;
  background-image: url(../img.html/soja.jpeg);

}
.card__img3{
  height:180px;
  width: 100%;
  background-color:#bd9052  ;
  background-image: url(../img.html/velas-recipiente-tres.jpeg);

}

.card__content {
  padding: 15px; 
}
.card__titulo {
  margin-top: 0; 
  color:#3b380f;
}
.card__arti { 
  color: #bd9052; 
  padding: 15px; 
}
.card-inicio__btn {
  display: inline-block; 
  background-color: #bd9052 ; 
  color: #3b380f; 
  padding: 10px 20px; 
  text-decoration: none; 
  border-radius: 5px; 
}
.card-inicio__btn:hover {
  background-color: #bd9052; 
}
/*codigo del buscador */
  
.d-flex {
  background-position-x: 90%;
  border-radius:#3b380f;
  background-color:#bd9052;
  border-radius: 5px;
 
}





body{
   
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     background-color:white;
     width: 100%;
     height: auto;
  }

    /*codigo del subtitulo */  
  
  
   /*codigo de iconos de redes sociales */  
.redes{
color: #4C4920;
 font-size: 25px;
 padding: 3px;
}


   /*codigo subtitulos del inicio */ 
h3{
  text-align: center;
  color: #3b380f
 }


  /*codigo footer de la pagina */
footer{
  overflow: hidden;
  padding: 25px;
  height: 125px; ;
  width:100%;
  background-color: #bd9052;
  text-align:center;
  color:#3b380f;

}

/*codigo nosotrso*/
.nosotros{

 padding: 10px;
 display:flex ;
 justify-content: center;
 text-align: center;
 font-size: 200%;
 background-color: #c89c7d;
}

/*codigo envios*/
.contenedor-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.formulario {
 
  max-width: 400px;
  padding: 50px;
  background-color:   #c89c7d ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field {
  font-size: 10px; 
  padding: 10px; 
  width:90vh;
}


.boton {
  background-color: #80a090; 
  color:#3b380f(245, 242, 242, 0.923); 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px;
  display: inline-block;
}


.boton:hover {
   background-color:#3b380f; 
   transform:scale(1.1);
   background-color: #80a090;
   border:none;
   border-radius: 10px;
}
   /*codigo imagenes velas*/
  .velas{

    border-radius: solid 1px #3b380f;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 0px 30px 30px;
    display: inline-block;
    position:relative;
    left: 10%;
  }
    
 /*codigo nosotros */
 .nosotrosubivideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.nosotrosubivideo > div {
  margin-bottom: 20px;
  color: #3b380f
}

h5 {
  color: #3b380f;
  margin-bottom: 10px;
}

iframe {
  width: 200%;
  max-width: 100%;
  height: 200px;
  border: 2px solid  #c89c7d ; 
  border-radius: 8px;
}


   .sub-envios{ 

   padding: 10px;
   display:flex;
   }

   .sub-moldes{ 
    background-color: #c89c7d ;
    width: 90%;
    font-weight: bold;
    text-align: center;
    margin: 35px;
  }
   .contenedor-img{ 
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
    
  .imagent img{ 
    width: 200px;
    height: 220px;
    border: 6px solid  #c89c7d ;
    border-radius: 15px;
    transform: 0.8s;
    margin:   35px;
  }
  .imagent :hover{ 

   transform: scale(1.2);
   border-radius: 3px;
  }

   
  .imagent p{ 
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;


  }

  