
* {
margin: 0; 
padding: 0;
box-sizing: border-box;
max-width: 100%;
overflow-x:  hidden;
}
 /*header las pages*/
header { 
 height: 200px;
 padding: 10px;
 overflow: hidden;
 text-align: center;
 background-color:#bd9052;
}
header img{ 
 height: 200px;
}

 /* body de las pages*/
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:rgba(236, 213, 173, 0.218);
  width: 100%;
  min-height: auto;
  margin: 0;
  padding: 0;
}
 /*titulo principal*/
h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color:#3b380f ;
} 


 /*titulo envios */  
span {
   
  color:#3b380f ;
  padding:  30px;
  display: inline-block;
  background-size: cover;
  height: 100%;
}
 
/*codigo del buscador */
  
.d-flex {
  background-position-x: 90%;
  border-radius:#3b380f;
  background-color:hsl(35, 45%, 53%);
  border-radius: 5px;
 
}
    /*codigo del subtitulo */  
    h2 {
      padding: 30px;
      color:#3b380f;
      text-align: center;
    
    }
    .destacados h3{
      text-align: center;
      color: #3b380f;
      padding: 40px;
      margin: 0 auto;
     }
    
    /* parrafo index*/
    .logo p{
      padding: 30px;
      color:#3b380f;
      background-color: #d59f5c52;
      margin: 20px; 
      border-radius: 10px solid #3b380f;
      text-align: justify;
      font-size: 20px;

    }
 
     /* aqui inicianlas cards*/
  
  .card{
    width: 280px; 
    border: 6px solid #bd9052 ; 
    border-radius:  5px;
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px#3b380f(0, 0, 0, 0.1);
    display: inline-block;
    margin: 5px;
    margin-left: 9%;
}
.card__content{

  height:270px; 
  background-color: #efeeed; 
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  max-width: 100%;
  overflow-x:  hidden;
  margin: 0 auto;

}
.card__img1{
  height:180px;
  width: 100%;
  background-color:#bd9052  ;
  background-image: url(../img.html/molde-bb.jpeg);

}
.card__img2{
  height:180px;
  width: 100%;
  background-color:#bd9052  ;
  background-image: url(../img.html/soja.jpeg);

}
.card__img3{
  height:180px;
  width: 100%;
  background-color:#bd9052  ;
  background-image: url(../img.html/velasde-recipiente-uno.jpeg);

}
.card__content {
  padding: 15px; 

}
.card__titulo {
  margin-top: 0; 
  color:#3b380f;
}
.card__arti { 
  color: #bd9052; 
  padding: 15px; 
}
.card-inicio__btn {
  display: inline-block; 
  background-color: #bd9052 ; 
  color: #3b380f; 
  padding: 10px 20px; 
  text-decoration: none; 
  border-radius: 5px; 
}
.card-inicio__btn:hover {
  background-color: #bd9052; 
}

@media(min-width:370px){
  .card__content{
    width: 360px;
    margin: auto;
   
  }
}
 /* aqui terminan las cards*/

#carouselExample {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  height: 600px;
}
.carousel-item  {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
 
}
    /*codigo footer de las pages */
footer{
  overflow: hidden;
  padding: 25px;
  height: 125px; ;
  width:100%;
  background-color: #bd9052;
  text-align:center;
  color:#3b380f;

}
   /*codigo de iconos de redes sociales */  
.redes{
 color: #4C4920;
 font-size: 25px;
 padding: 3px;
 text-decoration: none;
}
a{
  text-decoration: none;
  color: #3b380f; 
}  

/*codigo envios*/
.contenedor-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.formulario {
 
  max-width: 400px;
  padding: 50px;
  background-color:   #c89c7d ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field {
  font-size: 10px; 
  padding: 10px; 
  width:90vh;
}
.boton {
  background-color: #80a090; 
  color:#3b380f(245, 242, 242, 0.923); 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px;
  display: inline-block;
}
.boton:hover {
   background-color:#3b380f; 
   transform:scale(1.1);
   background-color: #80a090;
   border:none;
   border-radius: 10px;
}
.sub-envios{ 

  padding: 10px;
  display:flex;
  }
   /*aqui termina codigo  envios*/
    
 /*codigo nosotros */
 .nosotrosubivideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.nosotrosubivideo > div {
  margin-bottom: 20px;
  color: #3b380f
}

h5 {
  color: #3b380f;
  margin-bottom: 10px;
}

iframe {
  width: 200%;
  max-width: 100%;
  height: 200px;
  border: 2px solid  #c89c7d ; 
  border-radius: 8px;
}
.nosotros{

  padding: 10px;
  display:flex ;
  justify-content: center;
  text-align: center;
  font-size: 200%;
 
 }
/* termina codigo nosotrso*/


 /*codigo imagenes velas*/
 .velas{

  border-radius: solid 1px #3b380f;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 0px 30px 30px;
  display: inline-block;
  position:relative;
  left: 10%;
}
   .contenedor-img{ 
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
    
  .imagent img{ 
    width: 200px;
    height: 220px;
    border: 6px solid  #c89c7d ;
    border-radius: 15px;
    transform: 0.8s;
    margin:   35px;
  }
  .imagent :hover{ 
   transform: scale(1.2);
   border-radius: 3px;
  }
  .imagent p{ 
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  }
  .sub-moldes{ 
    background-color: #c89c7d ;
    width: 90%;
    font-weight: bold;
    text-align: center;
    margin: 35px;
  }